<style>

    @import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
    * {
        -webkit-font-smoothing: antialiased;
        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: none;
        -webkit-touch-callout: none;
        box-sizing: border-box
    }

     code {
        border-radius: 2px;
        color: #e96900;
        font-size: 12.8px;
        font-size: .8rem;
        margin: 0 2px;
        padding: 3px 5px;
        white-space: pre-wrap
    }

     code,
     pre {
        background-color: #f8f8f8;
        font-family: Roboto Mono, Monaco, courier, monospace
    }

     pre {
        -moz-osx-font-smoothing: initial;
        -webkit-font-smoothing: initial;
        line-height: 24px;
        line-height: 1.5rem;
        margin: 1.2em 0;
        overflow: auto;
        padding: 0 22.4px;
        padding: 0 1.4rem;
        position: relative;
        word-wrap: normal
    }

    .token.cdata,
    .token.comment,
    .token.doctype,
    .token.prolog {
        color: #8e908c
    }

    .token.namespace {
        opacity: .7
    }

    .token.boolean,
    .token.number {
        color: #c76b29
    }

    .token.punctuation {
        color: #525252
    }

    .token.property {
        color: #c08b30
    }

    .token.tag {
        color: #2973b7
    }

    .token.string {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9)
    }

    .token.selector {
        color: #6679cc
    }

    .token.attr-name {
        color: #2973b7
    }

    .language-css .token.string,
    .style .token.string,
    .token.entity,
    .token.url {
        color: #22a2c9
    }

    .token.attr-value,
    .token.control,
    .token.directive,
    .token.unit {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9)
    }

    .token.keyword {
        color: #e96900
    }

    .token.atrule,
    .token.regex,
    .token.statement {
        color: #22a2c9
    }

    .token.placeholder,
    .token.variable {
        color: #3d8fd1
    }

    .token.deleted {
        text-decoration: line-through
    }

    .token.inserted {
        border-bottom: 1px dotted #202746;
        text-decoration: none
    }

    .token.italic {
        font-style: italic
    }

    .token.bold,
    .token.important {
        font-weight: 700
    }

    .token.important {
        color: #c94922
    }

    .token.entity {
        cursor: help
    }

     pre>code,
     pre[class*="language"] {
        -moz-osx-font-smoothing: initial;
        -webkit-font-smoothing: initial;
        background-color: #f8f8f8;
        border-radius: 2px;
        color: #525252;
        display: block;
        font-family: Roboto Mono, Monaco, courier, monospace;
        font-size: 12.8px;
        font-size: .8rem;
        line-height: 2em;
        max-width: inherit;
        overflow: inherit;
        padding: .8em 1.4em;
        white-space: pre
    }

     pre>code {
        padding-left: 0;
        padding-right: 0
    }

     code:after,
     code:before {
        letter-spacing: .8px;
        letter-spacing: .05rem
    }

    code .token {
        -moz-osx-font-smoothing: initial;
        -webkit-font-smoothing: initial;
        min-height: 24px;
        min-height: 1.5rem
    }

    pre:after {
        color: #ccc;
        content: attr(data-lang);
        font-size: 9.6px;
        font-size: .6rem;
        font-weight: 600;
        height: 15px;
        line-height: 15px;
        padding: 5px 10px 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0
    }

    pre[data-line] {
        position: relative;
        padding: 1em 0 1em 3em !important
    }

    pre[data-line] .line-highlight-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        display: block;
        width: 100%
    }

    pre[data-line] .line-highlight {
        position: absolute;
        left: 0;
        right: 0;
        padding: inherit 0;
        margin-top: 1em;
        background: rgba(153, 122, 102, 0.08);
        background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
        pointer-events: none;
        line-height: inherit;
        white-space: pre
    }

    pre[data-line] .line-highlight:before,
    pre[data-line] .line-highlight[data-end]:after {
        content: attr(data-start);
        position: absolute;
        top: .4em;
        left: .6em;
        min-width: 1em;
        padding: 0 .5em;
        background-color: rgba(153, 122, 102, 0.4);
        color: #f5f2f0;
        font: bold 65%/1.5 sans-serif;
        text-align: center;
        vertical-align: .3em;
        border-radius: 999px;
        text-shadow: none;
        box-shadow: 0 1px white
    }

    pre[data-line] .line-highlight[data-end]:after {
        content: attr(data-end);
        top: auto;
        bottom: .4em
    }

    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype')
    }

    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 300;
        src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype')
    }

    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype')
    }

    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype')
    }

    * {
        -webkit-font-smoothing: antialiased;
        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: none;
        -webkit-touch-callout: none;
        box-sizing: border-box
    }

    div#app {
        font-size: 30px;
        font-weight: lighter;
        margin: 40vh auto;
        text-align: center
    }

    div#app:empty:before {
        content: "Loading..."
    }

    .emoji {
        height: 19.2px;
        height: 1.2rem;
        vertical-align: middle
    }

    .progress {
        background-color: #8b42b9;
        background-color: var(--theme-color, #8b42b9);
        height: 2px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: width .2s, opacity .4s;
        width: 0;
        z-index: 5
    }

    .search .search-keyword,
    .search a:hover {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9)
    }

    .search .search-keyword {
        font-style: normal;
        font-weight: 700
    }

    body,
    html {
        height: 100%
    }

    body {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: #34495e;
        font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 15px;
        letter-spacing: 0;
        margin: 0;
        overflow-x: hidden
    }

    img {
        max-width: 100%
    }

    a[disabled] {
        cursor: not-allowed;
        opacity: .6
    }

    kbd {
        color: #34495e;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        font-size: 12px !important;
        line-height: 12px;
        margin-bottom: 3px;
        padding: 3px 5px;
        vertical-align: middle
    }

    .task-list-item {
        list-style-type: none
    }

    li input[type=checkbox] {
        margin: 0 .2em .25em -1.6em;
        vertical-align: middle
    }

    .app-nav {
        left: 0;
        margin: 25px 60px 0 0;
        position: absolute;
        right: 0;
        text-align: right;
        z-index: 2
    }

    .app-nav p {
        margin: 0
    }

    .app-nav>a {
        margin: 0 16px;
        margin: 0 1rem;
        padding: 5px 0
    }

    .app-nav li,
    .app-nav ul {
        display: inline-block;
        list-style: none;
        margin: 0
    }

    .app-nav a {
        color: inherit;
        font-size: 16px;
        text-decoration: none;
        transition: color .3s
    }

    .app-nav a.active,
    .app-nav a:hover {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9)
    }

    .app-nav a.active {
        border-bottom: 2px solid #8b42b9;
        border-bottom: 2px solid var(--theme-color, #8b42b9)
    }

    .app-nav li {
        display: inline-block;
        margin: 0 16px;
        margin: 0 1rem;
        padding: 5px 0;
        position: relative
    }

    .app-nav li ul {
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        display: none;
        max-height: calc(100vh - 61px);
        overflow-y: scroll;
        padding: 10px 0;
        position: absolute;
        right: -15px;
        text-align: left;
        top: 100%;
        white-space: nowrap
    }

    .app-nav li ul li {
        display: block;
        font-size: 14px;
        line-height: 16px;
        line-height: 1rem;
        margin: 0;
        margin: 8px 14px;
        white-space: nowrap
    }

    .app-nav li ul a {
        display: block;
        font-size: inherit;
        margin: 0;
        padding: 0
    }

    .app-nav li ul a.active {
        border-bottom: 0
    }

    .app-nav li:hover ul {
        display: block
    }

    .app-nav.no-badge {
        margin-right: 25px
    }

    .github-corner {
        border-bottom: 0;
        position: fixed;
        right: 0;
        text-decoration: none;
        top: 0;
        z-index: 1
    }

    .github-corner svg {
        color: #fff;
        fill: #8b42b9;
        fill: var(--theme-color, #8b42b9);
        height: 80px;
        width: 80px
    }

    .github-corner:hover .octo-arm {
        -webkit-animation: a .56s ease-in-out;
        animation: a .56s ease-in-out
    }

    main {
        display: block;
        position: relative;
        width: 100vw;
        height: 100%;
        z-index: 0
    }

    .anchor {
        display: inline-block;
        text-decoration: none;
        transition: all .3s
    }

    .anchor span {
        color: #34495e
    }

    .anchor:hover {
        text-decoration: underline
    }

    .sidebar {
        border-right: 1px solid rgba(0, 0, 0, 0.07);
        overflow-y: auto;
        padding: 40px 0 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out, -webkit-transform .25s ease-out;
        width: 300px;
        z-index: 3
    }

    .sidebar>h1 {
        margin: 0 auto 16px;
        margin: 0 auto 1rem;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center
    }

    .sidebar>h1 a {
        color: inherit;
        text-decoration: none
    }

    .sidebar>h1 .app-nav {
        display: block;
        position: static
    }

    .sidebar .sidebar-nav {
        line-height: 2em;
        padding-bottom: 40px
    }

    .sidebar ul {
        margin: 0;
        padding: 0
    }

    .sidebar li>p {
        font-weight: 700;
        margin: 0
    }

    .sidebar ul,
    .sidebar ul li {
        list-style: none
    }

    .sidebar ul li a {
        border-bottom: none;
        display: block
    }

    .sidebar ul li ul {
        padding-left: 20px
    }

    .sidebar::-webkit-scrollbar {
        width: 4px
    }

    .sidebar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px
    }

    .sidebar:hover::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 53%, 0.4)
    }

    .sidebar:hover::-webkit-scrollbar-track {
        background: hsla(0, 0%, 53%, 0.1)
    }

    .sidebar-toggle {
        background-color: transparent;
        background-color: hsla(0, 0%, 100%, 0.8);
        border: 0;
        outline: none;
        padding: 10px;
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: center;
        transition: opacity .3s;
        width: 30px;
        width: 284px;
        z-index: 4
    }

    .sidebar-toggle .sidebar-toggle-button:hover {
        opacity: .4
    }

    .sidebar-toggle span {
        background-color: #8b42b9;
        background-color: var(--theme-color, #8b42b9);
        display: block;
        margin-bottom: 4px;
        width: 16px;
        height: 2px
    }

    body.sticky .sidebar,
    body.sticky .sidebar-toggle {
        position: fixed
    }

    .content {
        padding-top: 60px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 300px;
        position: absolute;
        transition: left .25s ease
    }

    >* {
        box-sizing: border-box;
        font-size: inherit
    }

    >:first-child {
        margin-top: 0 !important
    }

     hr {
        border: none;
        border-bottom: 4px solid #000;
        margin: 3rem 0 1rem 0;
        width: 40px;
    }

     table {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        overflow: auto;
        width: 100%
    }

     th {
        font-weight: 700
    }

     td,
     th {
        border: 1px solid #ddd;
        padding: 6px 13px
    }

     tr {
        border-top: 1px solid #ccc
    }

     p.tip,
     tr:nth-child(2n) {
        background-color: #f8f8f8
    }

     p.tip {
        border-bottom-right-radius: 2px;
        border-left: 4px solid #f66;
        border-top-right-radius: 2px;
        margin: 2em 0;
        padding: 12px 24px 12px 30px;
        position: relative
    }

     p.tip code {
        background-color: #efefef
    }

     p.tip em {
        color: #34495e
    }

     p.tip:before {
        background-color: #f66;
        border-radius: 100%;
        color: #fff;
        content: "!";
        font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        left: -12px;
        line-height: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        text-align: center;
        top: 14px
    }

    p.warn {
        border-left: 4px solid #8b42b9;
        padding: 1rem;
        line-height: 1.2rem;
        background-color: rgb(245,245,245);
    }

    body.close .sidebar {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px)
    }

    body.close .sidebar-toggle {
        width: auto
    }

    body.close .content {
        left: 0
    }

    @media print {
        .app-nav,
        .github-corner,
        .sidebar,
        .sidebar-toggle {
            display: none
        }
    }

    @media screen and (max-width:768px) {
        .github-corner,
        .sidebar,
        .sidebar-toggle {
            position: fixed
        }
        .app-nav {
            margin-top: 16px
        }
        .app-nav li ul {
            top: 30px
        }
        main {
            height: auto;
            overflow-x: hidden
        }
        .sidebar {
            left: -300px;
            transition: -webkit-transform .25s ease-out;
            transition: transform .25s ease-out;
            transition: transform .25s ease-out, -webkit-transform .25s ease-out
        }
        .content {
            left: 0;
            max-width: 100vw;
            position: static;
            padding-top: 20px;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease, -webkit-transform .25s ease
        }
        .app-nav,
        .github-corner {
            transition: -webkit-transform .25s ease-out;
            transition: transform .25s ease-out;
            transition: transform .25s ease-out, -webkit-transform .25s ease-out
        }
        .sidebar-toggle {
            background-color: transparent;
            width: auto;
            padding: 30px 30px 10px 10px
        }
        body.close .sidebar {
            -webkit-transform: translateX(300px);
            transform: translateX(300px)
        }
        body.close .sidebar-toggle {
            background-color: hsla(0, 0%, 100%, 0.8);
            transition: background-color 1s;
            width: 284px;
            padding: 10px
        }
        body.close .content {
            -webkit-transform: translateX(300px);
            transform: translateX(300px)
        }
        body.close .app-nav,
        body.close .github-corner {
            display: none
        }
        .github-corner .octo-arm {
            -webkit-animation: a .56s ease-in-out;
            animation: a .56s ease-in-out
        }
        .github-corner:hover .octo-arm {
            -webkit-animation: none;
            animation: none
        }
    }

    @-webkit-keyframes a {
        0%,
        to {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }
        20%,
        60% {
            -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg)
        }
        40%,
        80% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
        }
    }

    @keyframes a {
        0%,
        to {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }
        20%,
        60% {
            -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg)
        }
        40%,
        80% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
        }
    }

    section.cover {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: none
    }

    section.cover .cover-main {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: -20px 16px 0;
        text-align: center;
        z-index: 1
    }

    section.cover a {
        color: inherit
    }

    section.cover a,
    section.cover a:hover {
        text-decoration: none
    }

    section.cover p {
        line-height: 24px;
        line-height: 1.5rem;
        margin: 1em 0
    }

    section.cover h1 {
        color: inherit;
        font-size: 40px;
        font-size: 2.5rem;
        font-weight: 300;
        margin: 10px 0 40px;
        margin: .625rem 0 2.5rem;
        position: relative;
        text-align: center
    }

    section.cover h1 a {
        display: block
    }

    section.cover h1 small {
        bottom: -7px;
        bottom: -0.4375rem;
        font-size: 16px;
        font-size: 1rem;
        position: absolute
    }

    section.cover blockquote {
        font-size: 24px;
        font-size: 1.5rem;
        text-align: center
    }

    section.cover ul {
        line-height: 1.8;
        list-style-type: none;
        margin: 1em auto;
        max-width: 500px;
        padding: 0
    }

    section.cover .cover-main>p:last-child a {
        border-color: #8b42b9;
        border: 1px solid var(--theme-color, #8b42b9);
        border-radius: 2rem;
        box-sizing: border-box;
        color: #8b42b9;
        color: var(--theme-color, #8b42b9);
        display: inline-block;
        font-size: 16.8px;
        font-size: 1.05rem;
        letter-spacing: 1.6px;
        letter-spacing: .1rem;
        margin-right: 16px;
        margin-right: 1rem;
        padding: .75em 32px;
        padding: .75em 2rem;
        text-decoration: none;
        transition: all .15s ease
    }

    section.cover .cover-main>p:last-child a:last-child {
        background-color: #8b42b9;
        background-color: var(--theme-color, #8b42b9);
        color: #fff;
        margin-right: 0
    }

    section.cover .cover-main>p:last-child a:last-child:hover {
        color: inherit;
        opacity: .8
    }

    section.cover .cover-main>p:last-child a:hover {
        color: inherit
    }

    section.cover blockquote>p>a {
        border-bottom: 2px solid #8b42b9;
        border-bottom: 2px solid var(--theme-color, #8b42b9);
        transition: color .3s
    }

    section.cover blockquote>p>a:hover {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9)
    }

    section.cover.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    section.cover.has-mask .mask {
        background-color: #fff;
        opacity: .8;
        position: absolute;
        width: 100%;
        height: 100%
    }

    .sidebar,
    body {
        background-color: #fff
    }

    .sidebar {
        color: #364149
    }

    .sidebar li {
        margin: 6px 0 6px 15px
    }

    .sidebar ul li a {
        color: #505d6b;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .sidebar ul li a:hover {
        text-decoration: underline
    }

    .sidebar ul li ul {
        padding: 0
    }

    .sidebar ul li.active>a {
        border-right: 2px solid;
        color: #8b42b9;
        color: var(--theme-color, #8b42b9);
        font-weight: 600
    }

    .app-sub-sidebar li:before {
        content: "-";
        padding-right: 4px;
        float: left
    }

     h1,
     h2,
     h3,
     h4,
     strong {
        color: #2c3e50;
        font-weight: 600
    }

     a {
        color: #8b42b9;
        color: var(--theme-color, #8b42b9);
        font-weight: 600
    }

    .md-sidebar-toc a {
        color: #8b42b9;
        font-weight: 600
    }

     h1 {
        font-size: 32px;
        font-size: 2rem;
        margin: 0 0 16px;
        margin: 0 0 1rem;
    }

     h2 {
        font-size: 28px;
        font-size: 1.75rem;
        margin: 45px 0 12.8px;
        margin: 45px 0 .8rem
    }

     h3 {
        font-size: 24px;
        font-size: 1.5rem;
        margin: 40px 0 9.6px;
        margin: 40px 0 .6rem
    }

     h4 {
        font-size: 20px;
        font-size: 1.25rem
    }

     h5,
     h6 {
        font-size: 16px;
        font-size: 1rem
    }

     h6 {
        color: #777
    }

     figure,
     p {
        margin: 1.2em 0
    }

     ol,
     p,
     ul {
        line-height: 25.6px;
        line-height: 1.6rem;
        word-spacing: .8px;
        word-spacing: .05rem
    }

     ol,
     ul {
        padding-left: 24px;
        padding-left: 1.5rem
    }

     blockquote {
        border-left: 4px solid #8b42b9;
        border-left: 4px solid var(--theme-color, #8b42b9);
        color: #858585;
        background-color: #f0f0f0;
        margin: 2em 0;
        padding-left: 20px
    }

     blockquote p {
        font-weight: 600;
        margin-left: 0
    }

     iframe {
        margin: 1em 0
    }

     em {
        color: #7f8c8d
    }

     {
        width: 100%;
        height: 100%;
        box-sizing: border-box
    }

     .pagebreak,
     .newpage {
        page-break-before: always
    }

     pre.line-numbers {
        position: relative;
        padding-left: 3.8em;
        counter-reset: linenumber
    }

     pre.line-numbers>code {
        position: relative
    }

     pre.line-numbers .line-numbers-rows {
        position: absolute;
        pointer-events: none;
        top: 1em;
        font-size: 100%;
        left: 0;
        width: 3em;
        letter-spacing: -1px;
        border-right: 1px solid #999;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

     pre.line-numbers .line-numbers-rows>span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber
    }

     pre.line-numbers .line-numbers-rows>span:before {
        content: counter(linenumber);
        color: #999;
        display: block;
        padding-right: .8em;
        text-align: right
    }

     .mathjax-exps .MathJax_Display {
        text-align: center !important
    }

    :not([for="preview"]) .code-chunk .btn-group {
        display: none
    }

    :not([for="preview"]) .code-chunk .status {
        display: none
    }

    :not([for="preview"]) .code-chunk .output-div {
        margin-bottom: 16px
    }

    .scrollbar-style::-webkit-scrollbar {
        width: 8px
    }

    .scrollbar-style::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent
    }

    .scrollbar-style::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(150, 150, 150, 0.66);
        border: 4px solid rgba(150, 150, 150, 0.66);
        background-clip: content-box
    }

    html body {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        overflow: auto
    }

    html body  {
        position: relative;
        top: 0
    }

    @media screen and (min-width:914px) {
        html body  {
            padding: 2em calc(50% - 457px + 2em)
        }
    }

    @media screen and (max-width:914px) {
        html body  {
            padding: 2em
        }
    }

    @media screen and (max-width:450px) {
        html body  {
            font-size: 14px !important;
            padding: 1em
        }
    }

    @media print {
        html body #sidebar-toc-btn {
            display: none
        }
    }

    html body #sidebar-toc-btn {
        position: fixed;
        bottom: 8px;
        left: 8px;
        font-size: 28px;
        cursor: pointer;
        color: inherit;
        z-index: 99;
        width: 32px;
        text-align: center;
        opacity: .4
    }

    html body[html-show-sidebar-toc] #sidebar-toc-btn {
        opacity: 1
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        padding: 32px 0 48px 0;
        font-size: 14px;
        box-shadow: 0 0 4px rgba(150, 150, 150, 0.33);
        box-sizing: border-box;
        overflow: auto;
        background-color: inherit
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar {
        width: 8px
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(150, 150, 150, 0.66);
        border: 4px solid rgba(150, 150, 150, 0.66);
        background-clip: content-box
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc a {
        text-decoration: none
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc ul {
        padding: 0 1.6em;
        margin-top: .8em
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc li {
        margin-bottom: .8em
    }

    html body[html-show-sidebar-toc] .md-sidebar-toc ul {
        list-style-type: none
    }

    html body[html-show-sidebar-toc]  {
        left: 300px;
        width: calc(100% - 300px);
        padding: 2em calc(50% - 457px - 150px);
        margin: 0;
        box-sizing: border-box
    }

    @media screen and (max-width:1274px) {
        html body[html-show-sidebar-toc]  {
            padding: 2em
        }
    }

    @media screen and (max-width:450px) {
        html body[html-show-sidebar-toc]  {
            width: 100%
        }
    }

    html body {
        left: auto !important;
        transform: none !important;
        margin: 0 auto;
    }

    html body:not([html-show-sidebar-toc]) .md-sidebar-toc {
        display: none
    }

    /* Custom additions */

    /*****************/
    /*    lightbox   */
    #lightbox-container {
      position: fixed;
      z-index: 99;
      width: 100vw;
      height: 100vh;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(240, 240, 240, 0.75);
      padding: 3rem;
      display: none;
      flex-direction: column;
    }
    #lightbox-prev {
      display: block;
      position: fixed;
      left: 0;
      padding-left: 1rem;
      text-decoration: none;
      color: #8b42b9;
      width: 50%;
      text-align: left;
      line-height: calc(100vh - 6rem);
    }
    #lightbox-next {
      display: block;
      position: fixed;
      right: 0;
      padding-right: 1rem;
      text-decoration: none;
      color: #8b42b9;
      width: 50%;
      text-align: right;
      line-height: calc(100vh - 6rem);
    }
    #lightbox-close {
      display: block;
      position: fixed;
      text-decoration: none;
      font-size: 2rem;
      line-height: 2rem;
      right: 0;
      top: 0;
      padding-top: 0.5rem;
      color: #8b42b9;
      width: 3rem;
      height: 3rem;
    }
    #lightbox-img-scaler {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
    #lightbox-legend {
      padding-top: 1rem;
      width: fit-content;
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    #lightbox-legend span:first-child {
      border: 1px solid #34495e;
      padding: 0.25rem;
      display: block;
      margin: 0 auto;
      width: fit-content;
    }
    #lightbox-legend span {
      padding: 0.5rem;
      display: block;
    }

    /* Printing options */
    @media print {
      @page {
        size: auto;
        /* auto is the initial value */
        /* this affects the margin in the printer settings */
        margin: 25mm 25mm 25mm 25mm;
      }
    }
    #js_msg {
        background-color: #8b42b9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.1rem 1rem;
        color: #fff;
        text-align: center;
    }
    #js_msg a, #js_msg p {
        color: #fff;
        line-height: 0.8rem;
        margin: 0;
        padding: 0 0 0.1rem 0;
    }
    #title-block-header {
        margin: 0;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
    #TOC {
        padding: 1rem 1.4rem 0.01rem 1.2rem;
        background-color: rgb(245,245,245);
        border-left: 4px solid #8b42b9;
        width: fit-content;
    }
    #TOC a {
        text-decoration: none;
    }
    #TOC ul {
      list-style-type: none;
      list-style-position: inside;
    }
    #TOC > ul {
      padding-left: 0;
    }
    /* nav#TOC::before {
        font-weight: 600;
        content: "Content";
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #fff400 0%, #fff400 100%);
        background-position: 0 0.75em;
        background-repeat: repeat-x;
        background-size: 1rem 1rem;
        display: inline;
    } */
    #atotop {
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 35px;
        height: 32px;
        border-left: 2px solid #000;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        z-index:99;
    }
    @media screen and (min-width:914px) {
        #atotop {
            position: fixed;
            bottom: 0;
            right: calc(50% - 457px + 2em);
        }
    }

    @media screen and (max-width:914px) {
        #atotop {
            position: fixed;
            bottom: 0;
            right: 2em;
        }
    }
    #atotop p, #atotop a {
        color: #000;
        text-decoration: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
    }
    h1.title {
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #fff400 0%, #fff400 100%);
        background-position: 0 0.75em;
        background-repeat: repeat-x;
        background-size: 1rem 1rem;
        display: inline;
    }
    p.subtitle {
      font-style: italic;
      margin: 0;
      padding: 0.7rem 0 0 0;
    }
    p.date {
        margin: 0 0 2rem 0;
        padding-bottom: 3rem;
        margin-bottom: 0 0 1.75rem 0;
        background-image: linear-gradient(to right, #000 0%, #000 100%);
        background-position: 0 2.5rem;
        background-repeat: no-repeat;
        background-size: 40px 4px;
        display: inline;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
    h1 {
        background-image: linear-gradient(to right, #fff400 0%, #fff400 100%);
        background-position: 0 0.75em;
        background-repeat: repeat-x;
        background-size: 1rem 1rem;
        display: inline;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    hr + h2 {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.3rem;
      line-height: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.15rem;
      line-height: 1.35rem;
      margin-top: 2rem;
      margin-bottom: 0.8rem;
    }
    h5 {
      font-size: 1rem;
      line-height: 1.2rem;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
    h1 + h2,
    h2 + h3 {
      padding-top: 0rem;
      margin: 0;
      line-height: 2.5rem;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    h3 + h4,
    h4 + h5 {
      padding-top: 0rem;
      margin: 0;
      line-height: 2rem;
    }
    h1 + p,
    h2 + p {
      margin-top: 1rem;
    }
    h3 + p,
    h4 + p,
    h5 + p {
      margin-top: 0;
    }
    p {
      margin: 1rem 0;
    }
    h1 + ul,
    h3 + ul,
    h4 + ul,
    h5 + ul {
      padding-top: 0rem;
      margin-top: 0rem;
    }
    p + ul {
      padding-top: 0rem;
      margin-top: 0rem;
    }
    ul {
      margin-top: 0;
    }
    td ul {
      margin-top: 1rem !important;
    }
    mark {
      background-color: #ffcf77;
    }
    img.highlight {
      border-left-style: solid;
      border-color: #f7f7f7;
    }
    img {
      width: 100%;
    }
    img.dummy {
        display: none;
    }
    figure {
      width: 100%;
      margin: 0 0 1rem 0;
      padding: 0;
    }
    figcaption {
      width: fit-content;
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      padding-top: 0.5rem;
    }
    p.fignote {
      width: fit-content;
      max-width: 80%;
      margin: 0 auto;
      font-size: 0.8rem;
      line-height: 1rem;
      opacity: 70%;
    }
    p.fignote::before {
      content: "Note: ";
    }
    div.subfigures + p.fignote {
      width: fit-content;
      max-width: 80%;
      margin: 0 auto;
      margin-top: -2.5rem;
      margin-bottom: 3rem;
      font-size: 0.8rem;
      line-height: 1rem;
      opacity: 70%;
    }
    div.figure {
      margin-top: 3rem;
      margin-bottom: 3rem;
      background-color: rgb(245,245,245);
      padding: 1rem 1rem 2rem 1rem;
      margin-left: -2rem;
      margin-right: -2rem;
      width: calc(100% + 4rem);
    }
    h1 + div.figure, h2 + div.figure, h3 + div.figure, h4 + div.figure, h5 + div.figure {
      margin-top: 2rem;
    }
    div.figure > figure > img {
      max-height: 80vh;
      cursor: pointer;
    }
    /* Allow for two elements differing from plotly default aspect ratio */
    div.figure_wrap_plotly {
        width: 100%;
    }
    @media screen and (min-width:914px) {
        div.portrait > div.figure_wrap_plotly {
            height: 1500px;
        }
        div.square > div.figure_wrap_plotly {
            height: 914px;
            max-height: 80vh;
        }
        div.qhd > div.figure_wrap_plotly {
            height: 571px;
            max-height: 80vh;
        }
    }
    @media screen and (max-width:914px) {
        div.portrait > div.figure_wrap_plotly {
            height: calc(2*vw);
        }
        div.square > div.figure_wrap_plotly {
            height: calc(100% - 4em);
            max-height: 80vh;
        }
        div.qhd > div.figure_wrap_plotly {
            height: calc((100vw - 4em)*0.666);
            max-height: 80vh;
        }
    }
    /* Subfigures STATIC */
    div.subfigures {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 3rem;
      flex-direction: column;
    }
    div.subfigures > figure {
      width: 100%;
      margin: 0 0 1.5rem 0;
      padding: 0;
    }
    @media (min-width: 40rem) {
      div.subfigures {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: row;
      }
      div.subfigures > figure {
        width: 50%;
        margin: 0 0 1.5rem 0;
        padding: 0;
      }
    }
    div.subfigures > figure > img {
      padding: 0px 0px;
      width: 100%;
      cursor: pointer;
    }
    div.subfigures figure + p {
      width: fit-content;
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    summary {
      color: #34495e;
      text-decoration: none !important;
      color: #8b42b9;
      cursor: pointer;
    }
    details {
      margin: 0px;
    }
    p.disc-q {
      background-color: #f7f7f7;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 1rem;
    }
    p.disc-q::before {
      content: "Frage/Kommentar:";
      font-weight: bold;
    }
    p.disc-s {
      background-color: #f7f7f7;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 1rem;
      border-left: 4px solid #6c40ad;
    }
    p.disc-r {
      border: 1px solid #6c40ad;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 1rem;
    }
    p.disc-r::before {
      content: "Antwort:";
      font-weight: bold;
      color: #6c40ad;
    }
    details.framed {
      border: 1px solid #41b983;
      padding: 0.5rem 1rem;
    }
    hr.disc-thick {
      height: 3px;
      background-color: #6c40ad;
    }
    div.tabledetails {
      position: relative;
      width: 100%;
      margin: 0.25rem 0 0 0;
      flex-wrap: wrap;
      display: flex;
      border-bottom: 1px solid #dfe2e5;
    }
    div.tabledetails table {
      margin: 0;
      padding: 0;
    }
    div.tabledetails div {
      min-width: calc(100% - 5rem);
      margin: 0;
    }
    div.tabledetails details {
      width: 5rem;
      margin: 0;
      flex-direction: row;
    }
    div.tabledetails details[open] {
      width: 100%;
      margin-bottom: 0;
      border-bottom: none;
      flex-direction: column;
    }
    div.tabledetails caption {
      margin-top: 0;
    }
    div.tabledetails details summary {
      text-align: right;
      font-size: 0.9rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    caption {
      display: table-caption;
      margin-bottom: 0.25rem;
      margin-top: 1rem;
      text-align: left;
    }
    div + div > table > caption {
      margin-top: 0.25rem;
    }
    table {
      padding: 0;
      margin-bottom: 2rem;
      display: table;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      overflow-x: visible;
      overflow-y: visible;
      font-size: 0.9rem;
    }
    h1 + table,
    h2 + table,
    h3 + table,
    h4 + table,
    h5 + table {
      margin-top: 1.5rem;
    }
    table tr {
      border-top: 1px solid #dfe2e5;
      margin: 0px;
      padding: 0px;
    }
    table tr:nth-child(2n),
    thead {
      background-color: #f8f8f8;
    }
    table tr th {
      font-weight: bold;
      border-width: 1px 1px 0px;
      border-top-style: solid;
      border-right-style: solid;
      border-left-style: solid;
      border-top-color: #dfe2e5;
      border-right-color: #dfe2e5;
      border-left-color: #dfe2e5;
      border-image: initial;
      border-bottom-style: initial;
      border-bottom-color: initial;
      text-align: left;
      margin: 0px;
      padding: 6px 13px;
    }
    table tr td {
      border: 1px solid #dfe2e5;
      text-align: left;
      margin: 0px;
      padding: 6px 13px;
    }
    table tr th:first-child,
    table tr td:first-child {
      margin-top: 0px;
    }
    table tr th:last-child,
    table tr td:last-child {
      margin-bottom: 0px;
    }
    table tr:last-child {
      border-bottom: 1px solid #dfe2e5;
    }
    table.scientific {
      font-size: 0.8rem;
      margin-bottom: 0px;
      border-collapse: collapse;
      display: table;
    }
    table.scientific hr {
      margin: 0px;
    }
    table.scientific tr td {
      text-align: center;
    }
    table.scientific tbody {
      line-height: 1.1;
    }
    table.scientific tr td,
    table.scientific th,
    table.rowtwolabels tr td,
    table.rowtwolabels th {
      padding: 2px 10px;
    }
    table.wideleftstub tr td:nth-child(1),
    table.wideleftstub tr th:nth-child(1) {
      min-width: 20em;
    }
    table.medleftstub tr td:nth-child(1),
    table.medleftstub tr th:nth-child(1) {
      min-width: 13em;
    }
    table.scientific tr:nth-child(2n+1) {
      background-color: #ffffff;
    }
    table.scientific tr:last-child {
      border-bottom: 1px solid #dfe2e5;
    }
    table.scientific tbody tr td:nth-child(1),
    table.rowtwolabels tbody tr td:nth-child(1),
    table.scientific tbody tr th:nth-child(1),
    table.rowtwolabels tbody tr th:nth-child(1) {
      text-align: left;
      position: sticky;
      left: 0px;
      z-index: 2;
      background-color: inherit;
      border: inherit;
      min-width: 5rem;
      border-bottom: 1px solid #dfe2e5;
      -webkit-filter: blur(0px);
      /* fix chrome issue */
    }
    table.rowtwolabels tbody tr th:nth-child(2) {
      text-align: left;
      position: sticky;
      left: 5rem;
      z-index: 3;
      background-color: inherit;
      border: inherit;
      -webkit-filter: blur(0px);
      /* fix chrome issue */
    }
    table.scientific tbody tr td:nth-child(1)::before,
    table.scientific tbody tr th:nth-child(1)::before {
      content: "";
      position: absolute;
      height: 100%;
      left: 0px;
      bottom: 0px;
      border-left: 1px solid #dfe2e5;
    }
    table.scientific tbody tr td:nth-child(1)::after,
    table.scientific tbody tr th:nth-child(1)::after {
      content: "";
      position: absolute;
      height: 100%;
      left: 100%;
      bottom: 0px;
      border-right: 1px solid #dfe2e5;
    }
    table.rowtwolabels tbody tr td:nth-child(2)::before,
    table.rowtwolabels tbody tr th:nth-child(2)::before {
      content: "";
      position: absolute;
      height: 100%;
      left: 0px;
      bottom: 0px;
      border-left: 1px solid #dfe2e5;
      z-index: 3;
    }
    table.rowtwolabels tbody tr td:nth-child(2)::after,
    table.rowtwolabels tbody tr th:nth-child(2)::after {
      content: "";
      position: absolute;
      height: 100%;
      left: 100%;
      bottom: 0px;
      border-right: 1px solid #dfe2e5;
      z-index: 3;
    }
    table.scientific thead tr,
    table.scientific thead th,
    table.scientific thead td {
      background-color: #f8f8f8;
      font-weight: bold;
      text-align: center;
    }
    table.scientific thead tr td,
    table.scientific thead tr th {
      background-color: #f8f8f8;
      border-left: none !important;
      border-bottom: 1px solid #dfe2e5;
    }
    table.scientific thead tr:nth-child(1) td,
    table.scientific thead tr:nth-child(1) th {
      position: sticky;
      top: 0;
      z-index: 4;
      min-height: 1.1rem;
      background-color: #f8f8f8;
    }
    table.scientific thead tr:nth-child(2) td,
    table.scientific thead tr:nth-child(2) th {
      position: sticky;
      top: 1.2rem;
      z-index: 5;
      background-color: #f8f8f8;
    }
    table.scientific thead tr:nth-child(3) td,
    table.scientific thead tr:nth-child(3) th {
      position: sticky;
      top: 2.5rem;
      z-index: 6;
      background-color: #f8f8f8;
    }
    table.scientific thead tr:nth-child(-n+3) td::before,
    table.scientific thead tr:nth-child(-n+3) th::before {
      content: "";
      position: absolute;
      width: calc(100%);
      height: calc(100% + 2px);
      top: -1px;
      bottom: -1px;
      right: 0px;
      left: -1px;
      border-left: 1px solid #dfe2e5;
      border-top: 1px solid #dfe2e5;
      z-index: 10;
    }
    table.scientific thead tr:nth-child(-n+3) td:first-child::before,
    table.scientific thead tr:nth-child(-n+3) th:first-child::before {
      left: 0px !important;
    }
    table.scientific thead tr:nth-child(-n+3) td::after,
    table.scientific thead tr:nth-child(-n+3) th::after {
      content: "";
      position: absolute;
      width: calc(100%);
      height: calc(100% + 2px);
      top: -2px;
      bottom: -1px;
      right: 0px;
      left: -1px;
      border-bottom: 1px solid #dfe2e5;
      z-index: 10;
    }
    table.scientific thead tr:nth-child(-n+3) td:first-child::after,
    table.scientific thead tr:nth-child(-n+3) th:first-child::after {
      left: 0px !important;
    }
    span.legend {
      font-size: 0.7rem;
      font-style: italic;
      padding: 0px 13px;
    }
    div.tabwrap {
      overflow: auto !important;
      max-height: 80vh;
    }
    p.tabcap {
      position: sticky;
      left: 0;
      font-weight: bold;
      font-size: 0.9rem;
      text-align: left;
    }
    iframe {
      width: 100%;
      height: 80vh;
      max-height: 700px;
      border: 0;
      margin: 0;
      padding: 0;
    }
    div.stdtab table {
      font-size: 0.8rem;
      display: table;
    }
    div.stdtab table tbody {
      line-height: 1.1;
    }
    div.stdtab table tr td,
    div.stdtab table th,
    div.stdtab table tr td,
    div.stdtab table th {
      padding: 3px 10px;
      vertical-align: top;
    }
    span.il-tag {
      border-radius: 12px;
      padding: 1px 10px;
      color: #fff;
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin-right: 5px;
      margin-top: 7px;
      display: inline-block;
      background-color: #A28AE5;
    }
    span.il-tag-s {
      border-radius: 12px;
      padding: 0px 10px;
      color: #fff;
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 0px;
      display: inline-block;
      background-color: #A28AE5;
    }
    .dropbtn {
      background-color: white;
      border: none;
      border-bottom: 2px solid #8b42b9;
      color: #8b42b9;
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      font-size: 0.9rem;
      cursor: pointer;
      min-width: 7rem;
      text-align: left;
      font-weight: bold;
    }
    .dropbtn::-webkit-details-marker {
      display: none;
    }
    .dropbtn::before {
      content: "\25bc ";
      white-space: pre;
    }
    .dropbtn:hover,
    .dropbtn:focus {
      background-color: rgba(237, 237, 237, 0.9);
    }
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 0.5rem;
    }
    .dropdown p {
      margin: 0;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 7rem;
      padding: 0;
      z-index: 1;
    }
    .dropdown-content a {
      text-decoration: none;
      display: block;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
    }
    .dropdown-content a.selected {
      display: block;
      background-color: #8b42b9;
      color: white;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    .show {
      display: block;
    }
    div.item {
      margin: 0;
      border-top: 1px solid #eeeeee;
      padding: 0;
      visibility: visible;
      opacity: 1;
      max-height: 10000px;
      transition: max-height 0.5s, visibility 0s, opacity 0.5s linear;
      overflow: hidden;
    }
    div.item p {
      margin: 0 0 1rem 0;
    }
    div.item details {
      margin-top: 1.4rem;
    }
    div.item span.tag,
    #filter-pane-container span.tag {
      border-radius: 12px;
      padding: 1px 10px;
      color: #fff;
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin-right: 5px;
      margin-top: 7px;
      display: inline-block;
      background-color: #999999;
    }
    div.item span.color0,
    #filter-pane-container span.color0 {
      background-color: #2EA8E5;
    }
    div.item span.color1,
    #filter-pane-container span.color1 {
      background-color: #576DD9;
    }
    div.item span.color2,
    #filter-pane-container span.color2 {
      background-color: #009980;
    }
    div.item span.color3,
    #filter-pane-container span.color3 {
      background-color: #5FB236;
    }
    div.item span.color4,
    #filter-pane-container span.color4 {
      background-color: #FF6666;
    }
    div.item span.color5,
    #filter-pane-container span.color5 {
      background-color: #FF8C19;
    }
    div.item span.color6,
    #filter-pane-container span.color6 {
      background-color: #A28AE5;
    }
    div.item span.color7,
    #filter-pane-container span.color7 {
      background-color: #999999;
    }
    div.item span.color8,
    #filter-pane-container span.color8 {
      background-color: #000000;
    }
    div.item table.metadata {
      margin-top: 0.5rem;
    }
    div.item h5 {
      margin: 1.3rem 0 0.4rem;
    }
    div.item h4 {
      margin: 1.3rem 0 0.4rem;
    }
    div.item h3 {
      margin: 2.5rem 0 0.3rem;
    }
    div.item h2 {
      margin-bottom: 40px;
      padding-bottom: 10px;
      border-bottom: none !important;
    }
    div.item div.notes {
      padding-bottom: 1.25rem;
    }
    #filter-pane-container {
      background-color: #f7f7f7;
      width: 100%;
      padding: 1rem 1.5rem 0.5rem 1.5rem;
      margin: 2.5rem 0rem;
    }
    #filter-pane-container p {
      margin: 0.5rem 0 0.5rem 0;
    }
    #filter-pane-info {
      padding: 0.5rem 0 0 0;
    }
    #filter-pane-container span.visible::after {
      content: "\0020\0020\1F441";
    }
    #filter-pane-container span.filtered {
      opacity: 0.5;
    }
    #filter-pane-container span.filtered::after {
      content: "";
    }
    #filter-pane-container a {
      font-weight: 400;
    }
    .reveal .slides img {
      border: none;
      box-shadow: none;
      display: block;
      margin: 0 auto;
    }
    .reveal .slides img.full {
      width: 100%;
      height: 100%;
      max-height: calc(90vh);
      max-width: calc(90vw);
    }
    .reveal .slides img.scale {
      max-height: calc(80vh);
      max-width: calc(80vw);
    }
    .reveal .slides h1,
    .reveal .slides h2,
    .reveal .slides h3,
    .reveal .slides h4,
    .reveal .slides h5 {
      text-transform: none;
      margin-top: 0;
    }
    .reveal .slides p.legend {
      font-size: 1.5rem;
      font-style: italic;
      padding: 0px 5px;
      text-align: center !important;
    }
    .reveal .slides table {
      font-size: 1.8rem;
    }
    .reveal .slides iframe.plotly {
      width: 70vw;
      max-width: 70vw;
      height: 70vh;
      max-height: 70vh;
      border: 0;
      margin: 0 auto;
      padding: 0;
      display: block;
    }
</style>
